[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
*.pidb
*.suo
*.user
*.userprefs
*.unityproj
*.dll
*.exe
*.pdf
*.mid
*.midi
*.psd
*.tga
*.wav
*.mp3
*.ogg
*.prefs
*.mat
*.fbx
*.jar
*.assets
*.meta
*.unity
*.anim
*.controller
*.mask
*.overrideController
*.animset
*.meta
*.pidb.meta
*.unityproj.meta
*.wav.meta
*.mp3.meta
*.ogg.meta
*.prefs.meta
*.mat.meta
*.fbx.meta
*.jar.meta
*.assets.meta
*.dll.meta
*.exe.meta
*.pdf.meta
*.mid.meta
*.midi.meta
*.psd.meta
*.tga.meta
.vs/
.vscode/
